miniCVAE/__pycache__
miniCVAE/.ipynb_checkpoints
miniCVAE/datasets
miniCVAE/logs
*.ipynb
miniCVAE/requirements.txt
miniS2S/__pycache__
miniS2S/datasets
miniS2S/logs
miniFFT/__pycache__
miniFFT/datasets
miniFFT/logs
